.executeSelector{
    width: 74px;
    height: 20px;
}
li{
    border:  1px solid mediumseagreen;
    width: 70%;
}
.challengeCompleted{
    background-color: aqua;
}
.hidden{
    display: none;
}
.answer{
    float: right;
}
.found{
    background-color: brown !important;
}
a{
    display: block;
}
a:link{
    color: burlywood;
}
a:visited{
     color: chartreuse;
 }
a:hover{
    color: aqua;
}
a:active{
    color: black;
}